.views_easypaginate ul li {
  float: right; /*LTR*/
}

.views_easypaginate ol#pagination {
  left: auto; /*LTR*/
  right: 380px; /*LTR*/
}

.views_easypaginate ol#pagination li {
  float: right; /*LTR*/
}
/*Responsive*/
@media only screen and (max-width: 959px) {
  .views_easypaginate ol#pagination { left: auto; /*LTR*/ right: 278px; /*LTR*/ }
}