.views_easypaginate {
  position: relative;
}

.views_easypaginate ul {
  padding: 0 95px;
  margin: 0;
  list-style: none;
}

.views_easypaginate ul li {
  float: left; /*LTR*/
  width: 31%;
  padding: 0 1%;
  margin: 0;
}

.views_easypaginate ol#pagination {
  list-style: none;
  padding: 0 50px;
  margin: 0;
  width: 87px;
  height: 18px;
  position: absolute;
  left: 380px; /*LTR*/
  bottom: -25px;
  background-image: url('../images/pagination.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.views_easypaginate ol#pagination li {
  float: left; /*LTR*/
  width: 20px;
  height: 18px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../images/bullet.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.views_easypaginate ol#pagination li.current {
  background-position: 0 -20px;
}

.views_easypaginate ol#pagination li.prev,
.views_easypaginate ol#pagination li.next {
  display: none !important;
}

/*Responsive*/
@media only screen and (max-width: 959px) {
  .views_easypaginate ol#pagination {
    left: 278px; /*LTR*/
  }
}